.swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.5) !important;
    opacity: 1 !important;  
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background: #DB4444 !important;
    opacity: 1 !important;
    border: 2px solid rgb(255, 255, 255) !important;
}